.register-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 360px;
    width: 280px;
}

.register-field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 80px;
    width: 100%;
}

.register-field label {
    font-size: large;
    font-weight: bold;
}

.register-field input {
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.register-submit {
    width: 100%;
    font-family: 'Courier Prime', monospace;
    font-size: large;
}

.register-error {
    font-size: large;
    color: red;
    min-height: 30px;
    transition: opacity .8s ease;
}

.cancel-link {
    text-decoration: none;
}