.episode-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}

.episode-container h4 {
    margin: 0 0 10px 0;
}

.episode-field .field-title {
    padding-right: 5px;
}

.episode-container ul {
    margin: 0;
    padding-left: 30px;
}

@media(max-width: 765px) {
    .episode-container ul {
        padding-left: 25px;
    }
}