.password-field .icon__pwd {
    width: 33px;
    display: block;
    fill: black;
    cursor: pointer;
    position: absolute;
    top: 42px;
    right: 10px;
}

.password-field input#pwd {
    padding-right: 50px;
}
