.login-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    width: 280px;
}

.login-field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 80px;
    width: 100%;
}

.login-field label {
    font-size: x-large;
    font-weight: bold;
}

.login-field input {
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.login-field input#pwd {
    padding-right: 50px;
}

.login-password {
    display: flex;
    justify-content: space-around;
}

.login-field .login-icon__pwd {
    width: 33px;
    display: block;
    fill: black;
    align-self: flex-end;
    cursor: pointer;
    position: absolute;
    top: 42px;
    right: 10px;
}

.login-submit {
    width: 100%;
    font-family: 'Courier Prime', monospace;
    font-size: large;
}

.login-error {
    font-size: large;
    color: red;
    min-height: 30px;
}