.App::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-image: url(./images/rick-morty.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: saturate(.65) opacity(.85);
  z-index: -20;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 10vh;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.App-header--register, .App-header--logout {
  margin-right: 25px;
  cursor: pointer;
  width: 50px;
}

.App-header--logged-user {
  font-size: x-large;
  font-weight: bold;
  align-self: center;
  margin-left: 25px;
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.opaque {
  opacity: 1;
}

.transparent {
  opacity: 0;
}

/*. https://fdossena.com/?p=html5cool/buttons/i.frag [button1] */

.button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #000;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#000;
  text-align:center;
  transition: all 0.2s;
  cursor: pointer;
  background-color:transparent;
}

.button:hover{
  color:#fff;
  background-color:#000;
}

@media all and (max-width:30em){
.button{
    display:block;
    margin:0.4em auto;
  }
}

.container {
  width: 90vw;
  height: 90vh;
  background-color: rgba(255, 255, 255, .85);
  border-radius: 15px;
  margin: 0 auto;
  position: relative;
  top: 8vh;
  display: flex;
  flex-direction: column;
}

.form-container  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}