/* .App {
  text-align: center;
} */

.App::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-image: url(./images/rick-morty.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: saturate(.65) opacity(.85);
  z-index: -20;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 10vh;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  /* font-size: calc(10px + 2vmin); */
}

.App-header--register, .App-header--logout {
  margin-right: 25px;
  cursor: pointer;
  width: 50px;
}

.App-header--logged-user {
  font-size: x-large;
  font-weight: bold;
  align-self: center;
  margin-left: 25px;
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.opaque {
  opacity: 1;
}

.transparent {
  opacity: 0;
}